
.header {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  box-shadow: 0px 10px 10px rgba(0,0, 0, 0.5);
  height: auto;
  min-height: 50px;
  z-index: 99;
  border-bottom: solid 1px #f2f2f2;
}

.navigation-bar {
  height: 100%;
  background: #e6e6e6;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.photo-nav {
  position: sticky;
  top: 60px;
  background: #fff;
}

.prev {
  border-radius: 0px;
  border: 1px solid #e3e3e3;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-right: 10px;
}

.next-prev-container span {
  border: 1px solid #e3e3e3;
  display: inline-block;
  padding: 9px 10px;
    /* margin: 10px 1px; */
  position: relative;
  top: 0px;
}

.next {
  border-radius: 0px;
  border: 1px solid #e3e3e3;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-left: 10px;
}

.changing-photo-numb-container, .next-prev-container {
  min-width: 80%;
  margin: 20px auto 0;
}

.changing-photo-numb-container span {
  /*padding-top: 14px;*/
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  bottom: 11px;
}

.changing-photo-numb-container  a {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin: 0 5px;
}

.next-prev-container {
  /*width: fit-content;
  margin: auto;
  min-width: 80%;*/
}

.photo-nav div{
  flex: 50%;
  text-align: center;
}

.site-nav-menu {
  flex: auto;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.site-nav-menu > div {
  /*margin-left: 2vw;*/
  padding: 20px 2vw;
}

span {
  margin: 2px;
  display: inline-block;
  padding: 19px 8px 0px 10px;
}

.contrast-container {
  padding: 10px 0px 10px 0px;
}

i {
  margin: 10px;
}

.banner {
  background-image: url('https://picsum.photos/1200');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 229px;
  padding: 20px 0;
  margin-top: 40px;
}

button {
  font-size: 1rem;
  font-family: Roboto,sans-serif;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.changing-photo-numb-container button {
  border: 1px solid #e3e3e3;
  color: #14225b;
  padding: 8px;
  text-decoration: none;
  vertical-align: text-bottom;
  margin: 3px 5px;
}

.changing-photo-numb-container  button:hover, .next-prev-container button:hover, button:hover {
  color: #333;
  background: #eeeeee;
}

button.active {
  background: #cdcdcd;
}

.font-size-change {
  border: none;
  background: none;
  font-size: 1.2rem;
}

.contrast-change{
  background: none;
  border: none;
}

.photo-container > .link {
  display: flex;
  flex-direction: column;
}

.link {
  color: #14225b;
  text-decoration: none;  
  padding: 5px;
  vertical-align: text-bottom;
}

.link.back {
  display: inline-block;
  width: max-content;
}

.site-nav-menu .link:hover {
  border-bottom: 5px solid #333;
}

.a-button {
  cursor: pointer;
}

.font-size-container {
  margin: 16px 0 0 10px;
}

.contrast-on, .contrast-on a,  .contrast-on .fa-adjust::before {
  background: none white !important;
  color: #000 !important;
  box-shadow: 0px 0px 0px #fff !important;
  text-shadow:  0px 0px 0px #fff !important;
}

h1 {  
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: calc(2.5vw + 2.5rem);
  margin-left: 5vw;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); 
}

.container-photo-big h1 {
  margin: 0 20px 0 0;
  font-size: calc(2.5vw + 1rem);
}

.container-photo-big h1 span {
  font-size: calc(1vw + 1rem);
}

h2{
  font-size: 1rem;
  color: #14225b;
  margin: 0px;
}

.contrast.photo.title {
  margin-top: 12px;
}

.photo-container {  
  display: inline-block;
  margin: 30px 10px 10px 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #f0eeee;
  border-radius: 6px;
  background: rgba(200,200,200, 0.1);
  box-shadow: 0px 0px 10px #cdcdcd;
}

.photo-table-container > div {
  text-align: center;
}

.container-photo-big {
  margin: 90px 10px 10px 10px;
  padding: 10px;
  text-align: center;
}

.photo-big-link {
  float: left;
  margin: 0px;
  padding: 0px;
}

.photo{
  border-radius: 4px;
  width: 100%;
  max-width: 1000px;
}

.about-txt {
  width: max-content;
  margin: auto;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  color: white;
  background: #333;
  border-top: solid 1px #f0f0f0;
}

.footer > div {
  display: flex;
  flex-direction: row;
  display: flex;
}

.footer p {
  text-align: center;
}
.footer p  a {
  color: #fff;
}

.loader{-webkit-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
  border:10px solid #f3f3f3;
  border-radius:50%;
  border-top-color:#014f8b;
  height:80px;
  left:calc(50% - 80px);
  opacity:.7;
  position:absolute;
  top:50%;width:80px}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #014f8b;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  top: 50%;
  position: absolute;
  left: calc(50% - 80px);
  opacity:0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media (max-width: 800px) {
  .row{
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .site-nav-menu {
    flex-direction: column;
  }
  .site-nav-menu > div {
    padding: 10px 10px;
  }
}